*{
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; /* Disable horizontal scrolling */
}

a{
    text-decoration: none;
}

/* Siit algab NAV BAR */

nav{
    background-color: rgb(15, 15, 15);
    padding: 20px 0px;
    border-bottom: solid 3px white;

    /* See osa on, et nav bar liiguks page-ga kaasa */
    position: fixed;
    width:100%;
    z-index: 10;
}

nav ul{
    list-style-type: none;
    text-align: center;

}nav ul li {
    /* See paneb elemendid järjestiku ja marginiga saan nede vahet muuta */
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    display: inline-block;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 20%;
}




/* Siit algab HEADER*/

header{
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    height: 400px;

    /* Siin lisan tagatausta ja katsetan opacitiga veel */
    background-image: url("../Pildid/banner.png");
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: overlay;
    background-size: cover;

    /* see on, et nav bar ei oleks headeri peal */
    position: relative;
    margin-top: 45px;

    /* boarder */
    border-bottom: solid 3px rgb(255, 255, 255);
    border-top:solid 15px rgb(255, 255, 255) ;

    /* Liigutan tiitli keskele */
    display: flex;
    justify-content: center; 
    align-items: center;

}
 

header h1{
    color: white;
    background-color: black;
    height: 75px;
    width: 600px;
    padding: 10px;
}

/* Siit algab MAIN*/
main{
    background-color: black;
    padding: 20px 20px;
    color: white;

    
}

.main1{
    font-weight: bold;
    margin-top: 20px;
}

.main1 h2{
    margin-bottom: 15px;
}

.main2{
    margin-top: 60px;
}

.main2 h2{
    font-weight: bold;
}

.reinu_kirjeldus, .mihkli_kirjeldus{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 100%;
    padding-left: 10px;

}

.reinu_kirjeldus img, .mihkli_kirjeldus img{
    width: 200px;
    height:auto;
    margin-left: 20px;

}

.reinu_kirjeldus p, .mihkli_kirjeldus p{
    flex: 1;
}

.reinu_kirjeldus h3, .mihkli_kirjeldus h3{
    margin-bottom: 20px;
    color: white;
}

.reinu_kirjeldus{
    margin-bottom: 10px;
}
/* Siit algab FOOTER*/

.mihkli_kirjeldus{
    margin-bottom: 20px;
}
footer{
    padding: 20px 20px;
    color: white;
    background-color: rgb(15, 15, 15);
}

